<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context 
	https://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/tx https://www.springframework.org/schema/tx/spring-tx-4.3.xsd">
	
	
		
	
	<bean id="BeanPersonel" class="com.mimaraslan.Personel">
		<property name="adi" value="Taner"></property>
				
		<property name="soyadi">
			<value type="java.lang.String">Esen</value>
		</property>
		
		<property name="anneAdi" value="Hamide"></property>
		<property name="babaAdi" value="Zülküf"></property>
		<property name="adres" value="Tannenstraße 41"></property>
		<property name="dogumYili" value="1980"></property>
		<property name="ehliyet" value="true"></property>
		<property name="maas" value="5000"></property>
		<property name="medeniHali" value="true"></property>
		<property name="telNo" value="01641582647"></property>
	</bean>
</beans>
